<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Привязать запрос #{{request.id}} к существующей станции?</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="panel panel-default panel-info">
        <div class="panel-heading">Информация от автовокзала</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label id="requestNameLbl">Название</label>
                        <input class="form-control" ng-model="request.name" readonly/>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label>ОКАТО</label>
                        <input class="form-control" readonly ng-model="request.okato"/>
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="form-group">
                        <label>Широта</label>
                        <input class="form-control" readonly ng-model="request.latitude"/>
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="form-group">
                        <label>Долгода</label>
                        <input class="form-control" readonly ng-model="request.logitude"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label id="requestCountryLbl">Страна</label>
                        <input class="form-control" ng-model="request.countryName" readonly/>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label id="requestRegionLbl">Регион</label>
                        <input class="form-control" ng-model="request.regionName" readonly/>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label id="requestAreaLbl">Район</label>
                        <input class="form-control" ng-model="request.areaName" readonly/>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label>Город</label>
                        <input class="form-control" ng-model="request.cityName" readonly/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default panel-info">
        <div class="panel-heading">Информация о станции</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Название</label>
                        <input class="form-control" ng-model="station.name" readonly/>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label>ОКАТО</label>
                        <input class="form-control" readonly ng-model="station.okato"/>
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="form-group">
                        <label>Широта</label>
                        <input class="form-control" readonly ng-model="station.latitude"/>
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="form-group">
                        <label>Долгода</label>
                        <input class="form-control" readonly ng-model="station.logitude"/>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label>Тип</label>
                        <input class="form-control" readonly ng-model="station.type"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label>Страна</label>
                        <input class="form-control" ng-model="station.country" readonly/>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label>Регион</label>
                        <input class="form-control" ng-model="station.region" readonly/>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label>Район</label>
                        <input class="form-control" ng-model="station.area" readonly/>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label>Город</label>
                        <input class="form-control" ng-model="station.city" readonly/>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label>Нас.пункт</label>
                        <input class="form-control" readonly ng-model="station.place"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="linkOk()">Привязать</button>
    <button class="btn btn-warning" type="button" ng-click="linkCancel()">Отмена</button>
</div>