<div class="row">
    <label class="col-lg-1">Название:</label>
    <input class=" col-lg-2" ng-model="request.name" disabled/>
    <label class="col-lg-1">Регион:</label>
    <input class=" col-lg-2" ng-model="request.regionName" disabled/>
    <label class="col-lg-1">ОКАТО:</label>
    <input class=" col-lg-2" ng-model="request.okato" disabled/>
</div>
<br>
<div class="row">
    <uib-tabset active="activeJustified" justified="true">
        <uib-tab heading="Существующие станции">
            <ng-include src="'partial/request.exist.html'"/>
        </uib-tab>
        <uib-tab heading="Добавление станции">
            <ng-include src="'partial/request.new.html'"/>
        </uib-tab>
    </uib-tabset>
</div>