<div class="row">
    <label class="col-lg-1">Название:</label>
    <input class=" col-lg-2" ng-model="data.name" disabled/>
    <label class="col-lg-1">Регион:</label>
    <input class=" col-lg-2" ng-model="data.regionName" disabled/>
    <label class="col-lg-1">ОКАТО:</label>
    <input class=" col-lg-1" ng-model="data.okato" disabled/>
</div>
<br>
<div class="row">
<uib-tabset active="activeJustified" justified="true">
    <uib-tab heading="Существующие станции">
        <table class="table table-hover table-row-cell table-cell col-md-12">
            <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Тип</th>
                <th>Страна</th>
                <th>Регион</th>
                <th>Район</th>
                <th>Город</th>
                <th>Нас.пункт</th>
                <th>ОКАТО</th>
            </tr>
            <tr>
                <th></th>
                <th><input class="form-control" ng-model="stationFilter.name"></th>
                <th><input class="form-control" ng-model="stationFilter.type"></th>
                <th>
                    <ui-select ng-model="stationFilter.country" theme="bootstrap" ng-change="loadStations()">
                        <ui-select-match placeholder="Выберите страну">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item in countries | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </th>
                <th>
                    <ui-select ng-model="stationFilter.region" theme="bootstrap" ng-change="loadStations()">
                        <ui-select-match placeholder="Выберите регион">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item in regions | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </th>
                <th>
                    <ui-select ng-model="stationFilter.area" theme="bootstrap" ng-change="loadStations()">
                        <ui-select-match placeholder="Выберите район">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item in areas | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </th>
                <th>
                    <ui-select ng-model="stationFilter.city" theme="bootstrap" ng-change="loadStations()">
                        <ui-select-match placeholder="Выберите город">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item in cities | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </th>
                <th>
                    <ui-select ng-model="stationFilter.place" theme="bootstrap" ng-change="loadStations()">
                        <ui-select-match placeholder="Выберите нас.пункт">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item in places | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </th>
                <th><input class="form-control" ng-model="stationFilter.okato"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.type}}</td>
                <td>{{item.country}}</td>
                <td>{{item.region}}</td>
                <td>{{item.area}}</td>
                <td>{{item.city}}</td>
                <td>{{item.place}}</td>
                <td>{{item.okato}}</td>
            </tr>
            </tbody>
        </table>
    </uib-tab>
    <uib-tab heading="Добавление станции">test2</uib-tab>
</uib-tabset>
</div>